<template name="messagesPageBox">
  <div class="messages_page_box">
    <div class="messages_page_box_chat">
    </div>
    <form class="main-form-message-box">
      <div class="form-group-message-box">
        <div class=".row">
            <div class="messages_page_box_chat_textarea">
                <textarea name="message_page_box_chat_textarea" id="message_page_box_chat_textarea" rows="3"  placeholder="Send new message."></textarea>
            </div>
            <div class="messages_page_box_chat_send">
              <button type="submit" value="Send" id="message_page_box_chat_send" class="btn btn-primary btn-s">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Send
              </button>
            </div>
          </div>
      </div>
    </form>

  </div>
</template>
