<template name="imagesSubmit">
  <div class="images_submit_form">
      <form class="form-group-images">
        <input type="text" id="images_submit_form_url" placeholder="URL"><br/>
        <input type="text" id="images_submit_form_tags" placeholder="Tags"><br/>
        <input type="text" id="images_submit_form_users" placeholder="Users"><br/>
        <div class="btn-toolbar btn-sm">
          <div class="btn-group">
          <button type="submit" value="Add" id="albums_submit_add_link_button" class="btn btn-primary btn-xs">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Upload
          </button>
        </div>
      </div>
      </form>
  </div>
</template>
