.post {
  height: 350px;
}

.post_title {
  font-weight: bold;
  font-size: 14pt;
}

.post_content {
  font-size: 11pt;
  height: 30px;
}

.post_read_more {
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: gray;
}

.post_view {
  height: auto;
}

.post_view_discussion{
  padding-left: 10px;
}

.post_view_title {
  font-weight: bold;
  font-size: 14pt;
  padding-left: 5px;
}

.post_view_container {
  height: auto;
}

.post_view_comments{
  padding: 10px;
}

.post_view_content {
  font-size: 11pt;
  padding: 15px;
  height: auto;
}
