.subscriptions_page_item{
  text-align: center;
  padding: 15px;
}

.subscriptions_page_item_username{
  font-weight: bold;
}

.subscriptions_page_list_labels{
  font-weight: bold;
  color: #ff9e66;
}

.subscriptions_page_item_link{
  color: inherit;
  text-decoration: none;
}
