<template name="profilesInfo">
  <div class="row">
    <div class="profiles_info_avatar col-lg-12 col-sm-12 col-xs-12">
      <img src="http://placehold.it/200x200" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="profiles_info_username col-lg-12 col-sm-12 col-xs-12">
      {{username}}
    </div>
  </div>
  <div class="row">
    <div class="profiles_info_information col-lg-12 col-sm-12 col-xs-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer venenatis elit purus, vitae tincidunt diam elementum ac.
        Phasellus sollicitudin nibh ullamcorper eros tempor euismod.
        Proin tellus orci, tincidunt et est quis, congue tempor risus.
        Vestibulum malesuada sit amet tortor a ultrices.
        Morbi feugiat diam at lectus pellentesque imperdiet.
      </p>
    </div>
  </div>
</template>
