<template name="postSubmit">
  <form class="main form">
    <div class="form-group">
      <div class=".row">
        <div class="btn-toolbar btn-sm">
          <div class="btn-group">
            <button type="submit" value="Submit" class="btn btn-primary btn-xs">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Submit
            </button>
            <button type="submit" value="Save" class="btn btn-success btn-xs">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              Save
            </button>
            <button type="submit" value="Delete" class="btn btn-danger btn-xs">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
              Delete
            </button>
          </div>
          <button type="submit" value="Cancel" class="btn btn-warning btn-xs">
            <i class="fa fa-times" aria-hidden="true"></i>
            Cancel
          </button>

        </div>
      </div>
      <div class=".row">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
          <input name="post_title" id="post_title" type="text" value="" placeholder="Your Title" class="form-control"/>
        </div>
        <label class="control-label" for="title">Content</label>
        <div class="controls">
          {{> editor}}
        </div>
      </div>
    </div>
  </form>
</template>


<template name="editor">
  <div id="post_content" class="summernote"></div>
</template>
