<template name="postSubmit">
  {{> editor}}
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="url">Title</label>
      <div class="controls">
        <input name="post_title" id="post_title" type="text" value="" placeholder="Your Title" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Content</label>
      <div class="controls">
        <input name="post_title" id="post_content" type="textarea" value="" placeholder="Write your post" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>


<template name="editor">
  <div class="summernote">Hello Summernote</div>
</template>
