<template name="commentSubmit">
  <form class="main form">
    <div class="form-group">
      <div class=".row">
        <label class="control-label" for="title">Komentar:</label>
        <div class="controls">
            <textarea name="post_comment" id="post_comment_textarea" rows="6" cols="80" placeholder="Interesuje vas usluga? Ostavite upit."></textarea>
        </div>
      </div>
      <div class=".row">
        <button type="submit" value="Publish" id="post_comment_textarea_submit" class="btn btn-primary btn-xs">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Publish
        </button>
      </div>
    </div>
  </form>
</template>
