<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="coll
        apse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'postsList'}}">
        <i class="fa fa-header" aria-hidden="true"></i>
        <i class="fa fa-header" aria-hidden="true"></i>
         HaverHaber
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-left">
        {{#if currentUser}}
            <li><a href="{{pathFor 'postSubmit'}}"><i class="fa fa-plus-square" aria-hidden="true"> Post</i></a></li>
        {{/if}}
            <li><a href="{{pathFor 'usersPage'}}"><i class="fa fa-search" aria-hidden="true"> Search</i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}

            <li><a href="{{pathFor 'subscriptionsPage'}}"><i class="fa fa-users" aria-hidden="true"></i></a></li>
            <li><a href="{{pathFor 'messagesPage'}}"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
            <li><a href="{{pathFor 'profilesPage' _id = currentUser._id }}"><i class="fa fa-globe" aria-hidden="true"></i></a></li>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>
</template>
